<% content_for :header do %>
	<%= stylesheet_link_tag    "ChocoDiv", :media => "all" %>
	<%= stylesheet_link_tag    "ChocoChomp", :media => "all", :title=>"ChocoChomp", :rel=>"stylesheet" %>
	<%= stylesheet_link_tag    "ChocoChompWhite", :media => "all", :title=>"ChocoChompWhite", :rel=>"alternate stylesheet" %>
<% end %>

  	<script>
		$(document).ready(function(){
			/*$('div.contentContainer> div').hide();  
			  $('div.contentContainer> h3').click(function() {
			    var $nextDiv = $(this).next();
			    var $visibleSiblings = $nextDiv.siblings('div:visible');
				
			    if ($visibleSiblings.length ) {
			      $visibleSiblings.slideUp('fast', function() {
			        $nextDiv.slideToggle('fast');
			      });
			    } else {
			       $nextDiv.slideToggle('fast');
			    }
			});*/
			  
			$("a#inline").fancybox({
				helpers:  {
			        title:  null
			    },
				beforeShow: function () {
		            /* Disable right click */
		            $.fancybox.wrap.bind("contextmenu", function (e) {
		                return false; 
		            });
		        }
			});
			
			$("a.grouped_elements").fancybox();
		
			$('.styleswitch').click(function()
			{
				switchStylestyle(this.getAttribute("rel"));
				return false;
			});
			/*var c = readCookie('style');
			if (c) switchStylestyle(c);*/

			function switchStylestyle(styleName)
			{
				$('link[rel*=style][title][rel]').each(function(i) 
				{
					this.disabled = true;
					if (this.getAttribute('title') == styleName) this.disabled = false;
				});
				/*createCookie('style', styleName, 365);*/
			}
			<% Gallery.find(:all, :conditions=>['portfolio_id=?', @portfolio.id], :order=>'position ASC').each_with_index do |gallery, index| %>
				$("#<%= 'gal' %><%= index %>").click(function() {
					$.fancybox([
						<% arts = Art.find(:all, :conditions=>['gallery_id=?', gallery.id], :order=>'position ASC') %>
						<% arts.each_with_index do |art, art_index| %>
						{
							'href' : '<%= art.file %>',
							'title': '<%= art.title %>'
						}
						<% if(arts.size > art_index+1) %>,<% end %>
						<% end %>
						], {
						'padding'			: 10,
						'transitionIn'		: 'none',
						'transitionOut'		: 'none',
						'type'              : 'image',
						'changeFade'        : 150,
						helpers : {
					        title: {
					            type: 'outside'
					        }
					    },
						beforeShow: function () {
				            /* Disable right click */
				            $.fancybox.wrap.bind("contextmenu", function (e) {
				                return false; 
				            });
				        },
				        afterLoad : function() {
				        	this.title = '<div class="title-left">' + (this.index + 1) + '/' + this.group.length + '</div><div class="title-right">' + (this.title ? this.title : 'No Title') + '</div>';
		            	}
					});
				});
			
			<% end %>

			//Init Vanilla masonry
			var wall = new Masonry( document.getElementById('galleryList'), {
			    columnWidth: 225,
			    isFitWidth: true
			 });

		
     	});
		
   </script>




<div class="mainContainer">
	<div class="titleContainer">
		
	</div>
	<div class="pleaseVote">
		
	</div>
	
	<div class="contentContainer">
		<ul class="listingSelection" id="galleryList">
			<li class="gallery">
				<a id="inline" href="#data">
					<img src="/assets/About.jpg" alt="" title="Jeremy Godefroid">
					<div class="description sprite-global selectionSemaineBGB_png">
						<span class="bleu1">Information &bull; Who?</span>
					</div>
					<div class="titre sprite-global selectionSemaineBGT_png">
						<span>CONTACT</span>
					</div>
					<div class="thumbnailborder"></div>
				</a>
				
			</li>
			<% i = 0 %>
			<% Gallery.find(:all, :conditions=>['portfolio_id=?', @portfolio.id], :order=>'position ASC').each_with_index do |gallery, index| %>
				<li class="gallery"><% i = i+1 %>
					<a  id="<%= 'gal' %><%= index %>" href="javascript:;" title="<%= gallery.title %>">
						<img src="<%= gallery.thumbnail %>" alt=" " title="<%= gallery.title %>">
						<div class="description sprite-global selectionSemaineBGB_png">
							<span class="bleu1"><%= gallery.title %></span>
						</div>
						<div class="titre sprite-global selectionSemaineBGT_png">
							<span><%= gallery.subtitle %></span>
							<%# link_to_remote "LikeButton", :controller => :gallery, :action => :like, :id => gallery.id %>
							<%#=button_to '+1',:action=>:like,:id=>gallery.id%>

						</div>
						<div class="thumbnailborder"></div>
						<div class="heart">
							<%= link_to(to_2digits(gallery.likes) + "♥", like_gallery_path(gallery), {:id => "like_link"+index.to_s, :method => :put, :remote => true} ) %>
							<script>
								$("#like_link<%= index.to_s %>")
									.bind("ajax:success", function(evt, data, status, xhr){
										$("#like_link<%= index.to_s %>").html(data+"♥");
									});
							</script>
						</div>

					</a>

				</li>
			<% end %> 

		</ul>
		<div class="contentEndingDots">
			&bull;
		</div>
		<div class="copyrightContainer">
			Chocochomp&nbsp;&bull;&nbsp;Copyright@07-13
		</div>
	</div>
</div>


				<div style="display:none">
					<div id="data" class="chocoDiv">
						<div class="chocoDivBL">
							<div class="chocoDivBLText">
								<h1>Resume</h1>
								<p>
									<span>Check my</span> <a href="http://jp.linkedin.com/pub/jeremy-godefroid/30/a/711">LinkedIn</a><br>
									<span>Download</span> <a href="https://docs.google.com/open?id=0Bzx9qrTn1PQEVlVVbnhhZV9KSlk">PDF version</a>
								</p>
								
								<h1>Contact</h1>
								<p>
									<a href="mailto:jeremy.godefroid@gmail.com">jeremy.godefroid@gmail.com</a>
								</p>
								
								<h1>Position</h1>
								<p>
									<span>2008-Current:</span> UI and Visual Designer Orange Lab Tokyo,(Tokyo,Japan)<br><br>
									<span>2006-2007:</span> UI and Visual Designer Emotic,(Nantes,France)<br><br>
									<span>2004-2006:</span> Graphic Design & Visual Communication, Plokker,(Paris,France)
								</p>
							</div>
						</div>

						<div id="chocoDiv" class="chocoDivBR">
							<div class="chocoDivBRText">
								<h1>Worked for</h1>
								<ul>
									<li>+Orange Labs - France Telecom</li>
									<li>+Samsung</li>
									<li>+Plokker</li>
									<li>+Emotic</li>
									<li>+Delta</li>
									<li>+Arte</li>
								</ul>
								<p>
									&bull;&bull;&bull;
								</p>
								
								<h1>Social Networks</h1>
								<ul>
									<li><a href="http://jp.linkedin.com/pub/jeremy-godefroid/30/a/711">+LinkedIn</a></li>
									<li><a href="https://www.facebook.com/jeremy.godefroid">+Facebook</a></li>
									<li><a href="#">+Mixi</a></li>
									<li><a href="#">+Vimeo</a></li>
								</ul>
							</div>
							<div class="chocoDivBR-arrow-border"></div>
							<div class="chocoDivBR-arrow"></div>
							<div class="chocoButtons">
								<div class="chocoButtonsIn" onClick="window.location.href='http://jp.linkedin.com/pub/jeremy-godefroid/30/a/711';">
								</div>
								<div class="chocoButtonsFb" onClick="window.location.href='https://www.facebook.com/jeremy.godefroid';">
								</div>
								<div class="chocoButtonsM" onClick="window.location.href='#';">
								</div>
								<div class="chocoButtonsV" onClick="window.location.href='#';">
								</div>
							</div>
						</div>

						<div class="chocoDivTR">
							<div class="chocoDivTRText">
								<h1>About</h1>
								<p>
									I am Jeremy Godefroid, a French interaction and graphic designer, based in Tokyo, Japan
									<br><br>
									Lately, I have been elaborating Graphical User Interface desgins for high-tech products such as mobile devices and digital home applicances. But also producing 2D/3D motion graphics as well as designing ergonomics specifications and digital mockup prototypes.
								</p>
								
								<h1>Education</h1>
								<p>
									2002/2007:L'ecole de design de Nantes Atlantique (France) Masters Degree/Bac+5, Interaction design (with Honors).
									<br><br>
									2005: Denmark Design Skole (Denmark). Digital Media Design/Exchange program.
								</p>
							</div>
							<div class="chocoDivTR-arrow-border"></div>
							<div class="chocoDivTR-arrow"></div>
						</div>
						

						<div class="chocoDivTL">
							<img src="/assets/profile.jpg" alt="" title="Jeremy">		
						</div>
						

					</div>
				</div>


<% link_to 'Edit', edit_portfolio_path(@portfolio) %> 
<% link_to 'Back', portfolios_path %>
