
 <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Chocochomp admin</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Portfolios", portfolios_path %></li>
            <li><%= link_to "Galleries", galleries_path %></li>
            <li><%= link_to "Arts", arts_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<%= form_for @art, :html => {:multipart=>true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :file, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :file, :class => 'file_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gallery_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:art, :gallery_id, Gallery.all, :id, :title) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                arts_path, :class => 'btn' %>
  </div>
<% end %>
