<% content_for :header do %>
  <%= stylesheet_link_tag    "arts", :media => "all" %>
<% end %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"%>

 <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Chocochomp admin</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Portfolios", portfolios_path %></li>
            <li><%= link_to "Galleries", galleries_path %></li>
            <li><%= link_to "Arts", arts_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
  // Sorting the list

  $(document).ready(function(){
    $('#arts').sortable({
      axis: 'y',
      dropOnEmpty: false,
      handle: '.handle',
      cursor: 'crosshair',
      items: 'li',
      opacity: 0.4,
      scroll: true,
      update: function(){
      $.ajax({
        type: 'post',
        data: $('#arts').sortable('serialize'),
        dataType: 'script',
        complete: function(request){
          $('#arts').effect('highlight');
        },
        url: '/arts/sort'})
      }
    });
  });
  <% end %>
<% end %>


<%- model_class = Art -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<ul id="arts">
  <div class="row">
    <div class="span5"><%= model_class.human_attribute_name(:title) %></div>
    <div class="span2"><%= model_class.human_attribute_name(:description) %></div>
    <div class="span1"><%= model_class.human_attribute_name(:file) %></div>
    <div class="span1"><%= model_class.human_attribute_name(:gallery_id) %></div>
    <div class="span1"><%=t '.actions', :default => t("helpers.actions") %></div>
    <div class="span1"><%=t '.actions', :default => t("helpers.actions") %></div>
  </div>
  <% for art in @arts %>
    <%= content_tag_for :li, art do %>
      <div class="row handle">
        <div class="span5"><%= link_to art.title, art_path(art), :class => "truncate" %></div>
        <div class="span2"><%= art.description %></div>
        <div class="span1"><%= image_tag art.file, :width=>"32", :height=>"32"  %></div>
        <div class="span1"><%= art.gallery_id %></div>
        <div class="span1"><%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_art_path(art), :class => 'btn btn-mini btn-block' %></div>
        <div class="span1"><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        art_path(art),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger btn-block' %></div>
      </div>
    <% end %>
  <% end %>
</ul>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_art_path,
            :class => 'btn btn-primary' %>
