<%= form_for @gallery, :html => {:multipart=>true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subtitle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subtitle, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :likes, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :likes, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :thumbnail, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :thumbnail, :class => 'file_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :portfolio_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:gallery, :portfolio_id, Portfolio.all, :id, :title) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                galleries_path, :class => 'btn' %>
  </div>
<% end %>
